.header{
	display: block;
	text-align:center;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #81F7D8, #BCA9F5); /* Standard syntax (must be last) */
}

.frontPageContainer {
	text-align:center;
	background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #81F7D8, #BCA9F5);
	height: 100%;
	padding-top: 100px;
}

.mainlogo{
	margin: 40px 0;
}

.mainpage{
	text-align:center;
}

/*navigatsioon*/

*{
	text-decoration:none; 
	list-style:none; 
	margin:0px; 
	
	outline:none;
}

body{
	margin:0px; 
	padding:0px; 
	font-family: 'Open Sans', sans-serif;
}

section{
	width:100%; 
	max-width:1200px; 
	margin:0px auto; 
	display:table; 
	position:relative;
}

.h1{
	margin:0px auto; 
	display:table; 
	font-size:26px; 
	padding:40px 0px; 
	color:#E6E6E6; 
	text-align:center;
}

.h1 span{
	font-weight:500;
}

header{
	width:100%; display:table; 
	background-color: #666; 
}

#logo{
	float:left; 
	font-size:24px; 
	text-transform:uppercase; 
	color:#E6E6E6; 
	font-weight:600; 
	padding-top: 5px;
}

nav{
	width:auto; 
	float:right;
}

nav ul{
	display:table; 
	float:right;
}

nav ul li{
	float:left;
}

nav ul li:last-child{
	padding-right:0px;
}

nav ul li a{
	color:#666; 
	font-size:18px; 
	padding: 25px 20px; 
	display:inline-block; 
	transition: all 0.5s ease 0s;
}

nav ul li a:hover{
	background-color:#E6E6E6; 
	color:#2E9AFE	; 
	transition: all 0.5s ease 0s;
}

nav ul li a:hover i{
	color:#DCDCDC	; 
	transition: all 0.5s ease 0s;
}

nav ul li a i{
	padding-right:10px; 
	color:#E6E6E6; 
	transition: all 0.5s ease 0s;
}

.toggle-menu ul{
	display:table; 
	width:25px;
}

.toggle-menu ul li{
	width:100%; 
	height:3px; 
	background-color:#E6E6E6; 
	margin-bottom:4px;
}

.toggle-menu ul li:last-child{
	margin-bottom:0px;
}

input[type=checkbox], label{
	display:none;
}

.content{
	display:table; 
	margin-bottom:60px; 
	width:900px;
}

.content h2{
	font-size:18px; 
	font-weight:500; 
	color:#E6E6E6; 
	border-bottom:1px solid #DCDCDC	; 
	display:table; 
	padding-bottom:10px; 
	margin-bottom:10px;
}

.content p{
	font-size:14px; 
	line-height:22px; 
	color:#7c7c7c; 
	text-align:justify;
}

footer{
	display:table; 
	padding-bottom:30px; 
	width:100%;
}

.social{
	margin:0px auto; 
	display:table; 
	display:table;
}

.social li{
	float:left;
	padding:0px 10px;
}

.social li a{
	color:#E6E6E6; 
	transition: all 0.5s ease 0s;
}

.social li a:hover{
	color:#DCDCDC; 
	transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1440px) {
	section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
	header{
		padding:20px 0px;
	}
	#logo{
		padding:0px;
	}
	input[type=checkbox] {
		position: absolute; 
		top: -9999px; 
		left: -9999px; 
		background:none;
	}
	input[type=checkbox]:fous{
		background:none;
	}
	label {
		float:right; 
		padding:8px 0px; 
		display:inline-block; 
		cursor:pointer; 
	}
	input[type=checkbox]:checked ~ nav {
		display:block;
	}

	nav{
		display:none; 
		position:absolute; 
		right:0px; 
		top:53px; 
		background-color:#666; 
		padding:0px; 
		z-index:99;
	}
	
	nav ul{
		width:auto;
	}
	
	nav ul li{
		float:none; 
		padding:0px; 
		width:100%; 
		display:table;
	}
	
	nav ul li a{
		color:#FFF; 
		font-size:15px; 
		padding:5px 20px; 
		display:block; 
		border-bottom: 1px solid rgba(225,225,225,0.1);
	}
	
	nav ul li a i{
		color:#DCDCDC	; 
		padding-right:13px;
	}
}

@media only screen and (max-width: 980px) {
	.content{
		width:90%;
	}
}

@media only screen and (max-width: 568px) {
	h1{
		padding:10px 0px;
	}
	h1 span{
		display:block;
	}
}

@media only screen and (max-width: 480px) {
	section {
		max-width: 90%;
	}
}

@media only screen and (max-width: 360px) {
	h1{
		font-size:20px;
	}
	label{
		padding:5px 0px;
	}
	#logo{
		font-size: 20px;
	}
	nav{
		top:47px;
	}
}

@media only screen and (max-width: 320px) {
	h1 {
		padding: 10px 0px;
	}
}

.username{
	font-size: 28px;
	color: white;
	font-weight: lighter;
	padding-bottom: 5px;
}

.profile-pic{
	margin-top: 10px;
}

.container{
	background-color: rgb(255, 255, 255, 0.4);
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container li p{
	display: block;
    
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

.container li a{
	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	padding-bottom: 3px;
}

.container li{
	display: inline-block;
    text-decoration: none;
}

.addTrailerContainer{
	background-color: rgb(227, 227, 227);
	width: 100%;
	height: auto;
	padding-bottom: 40px;
	padding-top: 20px;
}

.addTrailer {
	text-align: center;
	width: 700px;
	height: 300px;
	background-color: rgb(255, 255, 255, 0.4);
	position: relative;
    left: 50%;
	margin-top: 20px;
    margin-right: -50%;
    transform: translate(-50%, 0%);
	/*varjud*/
	-webkit-box-shadow: -6px 10px 58px -13px rgba(61,61,61,0.8);
	-moz-box-shadow: -6px 10px 58px -13px rgba(61,61,61,0.8);
	box-shadow: -6px 10px 58px -13px rgba(61,61,61,0.8);
}

.addTrailer h2{
	color: #404040;
	font-weight: lighter;
	padding-bottom: 10px;
	padding-top: 10px;
}

.addTrailer label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

.addTrailer input[type=text]{
	width: 80%;
	height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: r404040;
}


.frontPageContainer {
	overflow: hidden;
}

.frontPageContainer input {
	width: 250px;
	height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: r404040;
}

.submitButton:hover{
	background-color: #48c2ff;
}

.login{
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

.login input{
	width: 300px;
}

.addTrailer input[type=submit]{
	width: 200px;
	height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: #48c2ff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: lighter;
	opacity: 0.8;
}

.addTrailer textarea{
	width: 80%;
	height: 70px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: r404040;
}

.addTrailer form{
	display: block;
}

/*modaal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic.resize{
	object-fit: cover;
    width:70px;
    height: 70px;
	border-radius: 50%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*footer*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.f-section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

